/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  background-color: var(--bg-color);
  font-family: var(--font-family, sans-serif);
  font-variation-settings: "wght" var(--ft-weight-title);
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  align-items: center;
  justify-content: center;
  margin: 100px 0 100px 0;
  color: var(--text-color);
  width: var(--wth-clamp-element);
  font-family: var(--font-accent);
  padding: 137px 23px 0 23px;
}

@media (width <= 376px) {
  .header {
    padding: 119px 0 0 0;
  }
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  font-weight: var(--font-weight-text);
  text-decoration: none;
  margin-block-end: 20px;
}

.header__title {
  margin-block-end: 24px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-block-end: 25px;
  padding: 0;
}

@media (width <=376px) {
  .header__theme-menu {
    padding-block-start: 1px;
  }
}

.theme-menu__button {
  background: transparent;
  border: none;
  line-height: 10px;
  margin-left: 20px;
  position: relative;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  padding: 0;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

@media (width <=376px) {
  .theme-menu__button:disabled::before {
    inset-inline-start: -16px;
  }
}

.theme-menu__button:disabled::before {
  content: "▶";
  width: 14px;
  height: 14px;
  position: absolute;
  inset-inline-start: -18px;
  animation: animation_arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  inset-inline-start: 0;
  inset-block-start: 13px;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.section__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--wth-clamp-element);
  gap: 51px;
}

.section__card {
  background: var(--bg-color);
  border: 2px solid var(--border-color);
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
  font-family: var(--font-family);
  line-height: 21.78px;
  padding: 4px 10px 5px 10px;
  color: var(--text-color);
}

@media (width <= 376px) {
  .card__title {
    padding: 4px 10px 6px 10px;
  }
}

.card__image-wrapper {
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.card__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.image__grayscale {
  filter: grayscale(50%);
}

.image__saturate {
  filter: saturate(360%);
}

.image__rotate {
  filter: hue-rotate(30deg);
}

.image__invert {
  filter: invert(80%);
}

.image__sepia {
  filter: sepia(80%);
}

.image__blur {
  filter: blur(1rem);
}

.image__opacity {
  filter: hue-rotate(90deg) opacity(0.7);
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px 26px 25px;
}

@media (width <= 376px) {
  .card__text-wrapper {
    padding: 25px 27px 25px 25px;
  }
}

.card__text {
  font-variation-settings: "wght" var(--font-weight-text);
  font-family: var(--font-family);
  line-height: 21px;
  font-size: 18px;
  color: var(--text-color);
}

.card__button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  height: 37px;
  background: transparent;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--heart-bg-color);
}

.card__like-button {
  background: transparent;
  min-width: 130px;
  padding: 2px 1px 0 0;
  color: var(--text-color);
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 12.6px;
  font-weight: var(--font-weight-text);
  color: var(--heart-color);
  mix-blend-mode: difference;
}

.card__label {
  mix-blend-mode: hard-light;
  position: absolute;
  opacity: 0.5;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--text-color);
  line-height: 14px;
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-stroke);
  font-family: var(--font-accent);
}

@media (width <=376px) {
  .card__label {
    inset-inline-end: 11px;
    inset-block-start: 23px;
  }
}

@supports (
  (text-stroke: 1px var(--text-stroke)) or
    (-webkit-text-stroke: 1px var(--text-stroke))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-accent);
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  font-size: 14px;
  line-height: 12.6px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--heart-bg-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--heart-bg-color);
}

.button:hover::before {
  transform: translateX(0);
}

.like-icon.heart__icon {
  transition: fill 0.1s;
  transform-origin: center center;
}

.like-icon {
  background: transparent;
}

.like-icon .contour {
  fill: var(--heart-contour);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-bg-color);
  transition: fill 0.3s linear 0.05s;
  
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-bg-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--active-heart-color);
}

.like-icon.is-liked .main-body {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--active-heart-color);
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
  fill: var(--active-heart-color);
}

.save__button {
  border: 2px solid var(--border-color);
  padding: 15px 21px 15px 21px;
  margin-block-end: 103px;
}

@media (width <=376px) {
  .save__button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-end: 100px;
  }
}

.floppy {
  fill: var(--heart-color);
  color: var(--heart-color);
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
  margin-right: 7px;
}

@media (width <= 376px) {
  .floppy {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }
}

.modal__wrapper .floppy {
  min-width: 39px;
  min-height: 39px;
  margin-right: 0;
}

@media (width <= 376px) {
  .modal__wrapper .floppy {
    margin-right: 10px;
  }
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.modal {
  display: none;
}

.modal[open] {
  display: flex;
  background: var(--bg-color);
  max-inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  border: 2px solid var(--border-color);
  padding: 0;
}

.modal__wrapper {
  padding: 30px;
}

.modal__content {
  display: flex;
  margin-block-end: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__title {
  font-family: var(--font-accent);
  font-size: 14px;
  font-weight: var(--font-weight-text);
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text-color);
}

.modal__button {
  min-width: 100%;
  padding: 12px 0 12px 0;
  background: transparent;
  border: 2px solid var(--border-color);
}
